.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #45108a; 
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.user-icon {
    cursor: pointer;
}

.link {
    color: #fff;
    text-decoration: none;
}

.logout-button {
    margin-left: 20px;
    padding: 8px 16px;
    color: #f1f1f1; 
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px; /* Rounded edges */
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.logout-button:hover {
    background-color: #ffffff; 
    color: #45108a;
    text-decoration: none;
}

.dashboard-button {
    margin-left: 20px;
    padding: 8px 16px;
    color: #fff; 
    background-color: transparent;
    border: 1px solid #fff; 
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dashboard-button:hover {
    background-color: #fff; 
    color: #45108a; 
    text-decoration: none;
}
