.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    background-color: transparent; 
    box-shadow: none; 
    border: none; 
    color: #fff; 
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.user-icon {
    cursor: pointer;
}

.link {
    color: #fff;
    text-decoration: none;
}

.logout-button {
    margin-left: 20px;
    padding: 8px 16px; 
    color: #f1f1f1; 
    background-color: rgb(69, 118, 138);
    border-radius: 6px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.logout-button:hover {
    background-color: #ffffff; 
    color: #00b7ff; 
    text-decoration: none; 
}

.dashboard-button {
    margin-left: 20px;
    padding: 8px 16px;
    color: #fff; 
    background-color: rgb(69, 118, 138);
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dashboard-button:hover {
    background-color: #fff; 
    color: #00b7ff; 
    text-decoration: none;
}
