/* Dashboard.css */

.dashboard-container {
    padding: 20px;
    background-color: #f7f7f7; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

h1 {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input {
    margin: 5px 0;
    padding: 10px;
    width: 80%; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin: 5px 0;
}

button:hover {
    background-color: #0056b3; 
}

.filter-container {
    text-align: center;
}

.product-list {
    list-style-type: none; 
    padding: 0; 
}

.product-item {
    background: #fff; 
    padding: 10px; 
    margin: 10px 0; 
    border-radius: 4px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.button-group {
    display: flex; 
    justify-content: flex-end; 
}

.product-item button {
    margin-left: 5px;
}
