/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #45108a; 
    color: #fff; 
}

.logo {
    font-size: 24px; 
    font-weight: bold; 
    color: #fff; 
    text-decoration: none; 
}

.user-icon {
    cursor: pointer; 
}

.link {
    color: #fff; 
    text-decoration: none; 
}

.logout-button {
    margin-left: 20px; /* Add some spacing */
    color: #ff4757; /* Change color to red */
    text-decoration: none; /* Remove underline */
}

.logout-button:hover {
    text-decoration: underline; /* Underline on hover */
}

.dashboard-button {
    margin-left: 20px; /* Add some spacing */
    color: #2ecc71; /* Change color to green */
    text-decoration: none; /* Remove underline */
}

.dashboard-button:hover {
    text-decoration: underline; /* Underline on hover */
}
